<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


  <suite name="Default suite" thread-count="3" parallel="tests">
   <test verbose="2" name="Chrometest">
  <parameter name="browser" value="Chrome"></parameter>
      <classes>
      <class name="sai.LMS1demo.Crossbrowser"/>
    </classes>
  </test> <!-- Default test -->
  <test verbose="2" name="Firefoxtest">
  <parameter name="browser" value="firefox"></parameter>
      <classes>
      <class name="sai.LMS1demo.Crossbrowser"/>
    </classes>
  </test>
  </suite>
